
.nav_title{
    text-align: center;
    align-self: center;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(75, 90, 53);
}

nav{
    text-align:center;
    background-color: rgb(154, 177, 122);
    display: flex;
    justify-content:space-around;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:5%;
    padding-right:5%;
    width: max-width;
    height: 20%;
    border-radius:0px 0px 5px 5px;
}
footer{
    background-color: rgb(195, 204, 155);
    padding-top: 1%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;
}

.body{
    padding-left: 5%;
    padding-right:5%;
}
